<div class="admin nav-item">
  <span>site</span>
  <div class="options">
    <ul>
      <li>
        <%= link_to "projects", projects_path %>
      </li>
      <li>
        <%= link_to "blog", blog_path, class: "nav-item-option" %>
      </li>
      <li>
        <%= link_to "gallery", gallery_path, class: "nav-item-option" %>
      </li>
      <li>
        <%= link_to "contact", contact_path, class: "nav-item-option" %>
      </li>
    </ul>
  </div>
</div>
<div class="admin nav-item">
  <span>blog</span>
  <div class="options">
    <ul>
      <li>
        <%= link_to "new post", new_admin_post_path, class: "nav-item-option" %>
      </li>
      <li>
        <%= link_to "all posts", admin_posts_path, class: "nav-item-option" %>
      </li>
    </ul>
  </div>
</div>

<%= link_to "logout", logout_path, class: "admin nav-item" %>
