<figure class="project-<%= "#{path[0..-5]}" %>" >
  <%= image_tag("projects-sq/#{path}", class: "project-pic") %>
  <figcaption>
    <h2><span><%= content[:title] %></span></h2>
    <p><%= "#{content[:subtitle]}" %></p>
  </figcaption>
  <%= link_to("",content[:path], class: "project-link") %>
</figure>
