<section class="contact">
<%= link_to 'http://www.linkedin.com/in/giannafusaro', class: 'contact-link' do %>
  <%= inline_svg('linkedin.svg', class: "contact-icon linkedin") %>
<% end %>
<%= link_to 'mailto:gianna@gianna.codes?Subject=Hello!', class: 'contact-link' do %>
  <%= inline_svg('email.svg', class: "contact-icon email") %>
<% end %>
<%= link_to 'http://www.github.com/giannafusaro', class: 'contact-link' do %>
  <%= inline_svg('github.svg', class: "contact-icon github") %>
<% end %>
</section>
