<article class="post preview">
  <div id="img-container" class="img-container">
    <%= image_tag "#{post.img_url}", class: "post-img" %>
  </div>

  <div class="preview-content-container">
    <%= link_to post_path(post.url_title) do %>
    <h1><%= post.title %></h1>
    <% end %>

    <div class="author">by:
      <%= post.author.upcase %></div>

    <h2>
      <span class="date"><%= post.date.strftime('%B %d, %Y') %></span>
      <span>•</span><%= post.abstract %></h2>
  </div>
  <%= button_to "edit", edit_admin_post_path(post.id), method: 'get' if current_admin %>

</article>
