<!DOCTYPE html>
<html>
<head>
  <title>GiannaCodes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller.controller_path} #{controller.action_name}" %>">
  <nav>
    <div class="nav-container">
      <%= link_to home_path, class: 'nav-logo' do %>
        <%= inline_svg('gianna-codes-lightning-green.svg', class: "logo") %>
      <% end %>
      <%= link_to "projects", projects_path, class: "nav-item #{"active" if current_page?(action: "projects")}", data: { hover: "projects" } %>
      <%= link_to "blog", blog_path, class: "nav-item #{"active" if current_page?(action: "blog")}", data: { hover: "blog" } %>
      <%= link_to "gallery", gallery_path, class: "nav-item #{"active" if current_page?(action: "gallery")}", data: { hover: "gallery" } %>
      <%= link_to "contact", contact_path, class: "nav-item #{"active" if current_page?(action: "contact")}", data: { hover: "contact" } %>
    </div>
  </nav>

<%= yield %>

</body>
</html>
