<!DOCTYPE html>
<html>
<head>
  <title>GiannaCodes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body class="<%= "#{controller.controller_path.gsub('/', ' ')} #{controller.action_name}" %>">
  <nav>
    <div class="nav-container">
      <%= link_to home_path, class: 'nav-logo' do %>
        <%= inline_svg('gianna-codes-lightning-green.svg', class: "logo") %>
      <% end %>
      <% if current_admin %>
        <%= render partial: 'admin/navbar' %>
      <% else %>
        <%= render partial: 'site/navbar' %>
      <% end %>

    </div>
  </nav>

<%= yield %>

<footer>
  <div>
    <i class="fa fa-copyright"></i>
    <span><%= Time.now.year %></span>
    <span>gianna</span>
    <span>fusaro</span>
  </div>
</footer>
</body>
</html>
